@font-face {
    font-family: Gotham Rounded;
    src: url('../font/GothamRounded-Bold.woff') format('woff'),
     url('../font/GothamRounded-Bold.woff2') format('woff2');
    font-weight: bold; 
    font-style: normal;
}
@font-face {
    font-family: Gotham Rounded;
    src: url('../font/GothamRounded-Light.woff') format('woff'),
     url('../font/GothamRounded-Light.woff2') format('woff2');
    font-weight: 300; 
    font-style: normal;
}
@font-face {
    font-family: Gotham Rounded;
    src: url('../font/GothamRounded-Book.woff') format('woff'),
     url('../font/GothamRounded-Book.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;
}
